<h1 class='page-header mb-3'>
  <%= @course.name %>
  <button type='button' class='btn btn-primary float-end'>Copy Course</button>
</h1>

<h2>Description</h2>

<%= simple_format @course.description %>

<h2>Lessons</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Lesson Name</th>
    </tr>
  </thead>
  <tbody>
    <% @course.lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Assignments</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Assignment Name</th>
    </tr>
  </thead>
  <tbody>
    <% @course.assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

